/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* Other Stylesheets */
@import "./homepage";
@import "./product";
@import "./cart";
@import "./navbar";
@import "./footer";

body {
  background: url("public/assets/images/bg.jpg") cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 0.02em;
}

main {
  min-height: calc(100vh - 270px);
  justify-content: center;
}

.main-container {
  padding: 20px;
  width: 85%;
  margin: auto;
  border-radius: 8px; // Optional: adds rounded corners for a softer look
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Optional: adds depth
}
