<GeneralContainer>
  <div class="main-container d-flex">
    {{#each this.model as |product|}}
      <Product data-test-product={{product.id}} @product={{product}} />
    {{/each}}
  </div>
</GeneralContainer>